<!-- 
<div class="jumbotron text-center">

    <a ui-sref=".list" class="btn btn-primary">Users List</a>
    <a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>
    <a ui-sref=".dashboard" class="btn btn-danger">Log into Dashboard</a>
    <a href="https://embed.plnkr.co/plunk/kdoccd" >Angular JS Good POC</a>
</div>	
<table class="table" border="0">
    <tbody>
        <tr>
            <td colspan="3" align="left"><a ui-sref=".list" class="btn btn-primary">Users List</a></td>
            <td colspan="1" align="right"><a ui-sref=".add" class="btn btn-info">Add New</a></td>
        </tr>
    </tbody>
</table>


<div ui-view></div>

-->
<!-- 
<div class="panel panel-default">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="alert alert-danger">{{alert.msg}}</alert>

    <div class="navbar-inner">
	
        <! - - Nav tabs - - >
        <ul class="nav nav-tabs" role="tablist" ng-controller="NavCtrl">
            <li ng-class="{active:isActive('/user-mgmt/list')}"><a href="#/user-mgmt/list" role="tab" data-toggle="tab">List</a></li>
            <li ng-class="{active:isActive('/user-mgmt/new')}"><a href="#/user-mgmt/new" role="tab" data-toggle="tab">New</a></li>
        </ul>
	</div>

	<ui-view></ui-view>
</div>

<div class="btn-group">
	Please Select User Role &nbsp;
	<button type="button" class="btn btn-primary dropdown-toggle"
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Roles</button>
	<div class="dropdown-menu" onload="initRoleDropdown()" id="roleDropDown">
		<li class="dropdown active">
			<a class="dropdown-item open" href="#/user-mgmt/users/list/all">all</a>
		</li>
		<li ng-repeat="role in userRoles" class="dropdown">
			<a class="dropdown-item" ui-sref123="user-mgmt.list" href="#/user-mgmt/users/list/{{role}}" ng-click123="dropboxRoleSelected(role)">{{role}}</a>
		</li>
	</div>
</div> -->
<div class="container">
	<div class="btn-group">
		Please Select User Role &nbsp;
		<button type="button" class="btn btn-primary dropdown-toggle"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Roles</button>
		<div class="dropdown-menu">
			<li class="dropdown active">
				<a class="dropdown-item open" href="#/user-mgmt/users/list/all">all</a>
			</li>
			<li ng-repeat="role in userRoles" class="dropdown">
				<a class="dropdown-item" href="#/user-mgmt/users/list/{{role}}">{{role}}</a>
			</li>
		</div>
	</div>

	<div align="right" class="btn-group-vertical float-right">
		<a href="#/user-mgmt/users/new"><button
				type="button" class="btn btn-primary">Create</button></a>
	</div>
</div>
<div ui-view></div>