<div class="container">
	<!-- 
	<div class="btn-group">
		Please Select Group &nbsp;
		<button type="button" class="btn btn-primary dropdown-toggle"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Roles</button>
		<div class="dropdown-menu">
			<li class="dropdown active">
				<a class="dropdown-item open" href="#/user-mgmt/users/list/all">all</a>
			</li>
			<li ng-repeat="role in userRoles" class="dropdown">
				<a class="dropdown-item" href="#/user-mgmt/users/list/{{role}}">{{role}}</a>
			</li>
		</div>
	</div>	 -->

	<div align="right" class="btn-group-vertical float-right">
		<a href="#/group-mgmt/groups/new"><button
				type="button" class="btn btn-primary">Create</button></a>
	</div>
</div>
<div ui-view></div>